
@{
    ViewBag.Title = "ReportPayroll";
    Layout = "~/Views/Home/HomeHeader.cshtml";
}
<link href="~/Content/StyleHRP.css" rel="stylesheet" />
<h4>Report Payroll</h4>
<div class="form-horizontal">
    <div class="row divPadR0">
        <div class="col-sm-12">
            <label>Select a Report Payroll Name View</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select class="form-control" id="CboSelectID">
                <option>Test</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Show Report</button>
        </div>
    </div>
</div>