
@{
    ViewBag.Title = "FPTransfer";
    Layout = "~/Views/Home/HomeHeader.cshtml";
}
<link href="~/Content/StyleHRP.css" rel="stylesheet" />
<h4>Finger Print Transfer</h4>
<div class="form-horizontal">
     <div class="row">
         <div class="col-sm-6">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <label>Source</label>
                 </div>
                 <div class="panel-body">
                     <div class="row div-Sm-Magin">
                         <label class="col-sm-5 control-label">Device Number :</label>
                         <div class="col-sm-6">
                             <select class="form-control" id="empMeal">
                                 <option>Test</option>
                             </select>
                         </div>
                     </div>
                     <div class="row div-Sm-Magin divPadTop7">
                         <label class="col-sm-5 divRight">Connect Type :</label>
                         <label class="col-sm-6">Test</label>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-sm-6">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <label>Destination</label>
                 </div>
                 <div class="panel-body">
                     <div class="row div-Sm-Magin">
                         <label class="col-sm-5 control-label">Device Number :</label>
                         <div class="col-sm-6">
                             <select class="form-control" id="empMeal">
                                 <option>Test</option>
                             </select>
                         </div>
                     </div>
                     <div class="row div-Sm-Magin divPadTop7">
                         <label class="col-sm-5 divRight">Connect Type :</label>
                         <label class="col-sm-6">Test</label>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Transfer Information</label>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row div-Sm-Magin divPadTop7">
                                <label class="col-sm-5 divRight">New User :</label>
                                <label class="col-sm-6">Test</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row div-Sm-Magin divPadTop7">
                                <label class="col-sm-5 divRight">Total User :</label>
                                <label class="col-sm-6">Test</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="checkbox text-center col-sm-12">
                    <label><input type="checkbox" value="">Get Latest Data From Source</label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox text-center col-sm-12">
                    <button type="button" class="btn btn-primary btnMarginTop30"><i class="glyphicon glyphicon-transfer"></i> Transfer</button>
                </div>
            </div>
        </div>
    </div>
</div>
