
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Home/HomeHeader.cshtml";
}
<link href="~/Content/StyleHRP.css" rel="stylesheet" />
<body>
    <div class="container" style="margin-top: 15px;">
        <div class="panel panel-primary">
            <div class="panel-heading" style="padding-top: 1px;padding-bottom: 1px;">
                <h4>Change Password</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/action_page.php">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">User Name:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="txtUsername" placeholder="Input Username" name="UserName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Old Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="txtOldPassword" placeholder="Input Old Password" name="OldPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">New Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="txtNewPassword" placeholder="Input New Password" name="NewPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Confirm Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="txtConPassword" placeholder="Input Confirm Password" name="ConPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary" id="btnUpdate"><i class="glyphicon glyphicon-repeat"></i> Update</button>
                            <button type="reset" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
<script>

    $(document).ready(function () {
        $("#btnUpdate").click(function () {
           var username= $("#txtUsername").val();
           var oldpass= $("#txtOldPassword").val();
           var newpass= $("#txtNewPassword").val();
           var conpass = $("#txtConPassword").val();
            
           $.ajax({
               url: "/Home/update",
               datatype: "JSON",
               type: "POST",
               data: { username, oldpass, newpass, conpass },
               success:function(result)
               {

               }
           });
        });
    });
</script>


