
@{
    ViewBag.Title = "CompanyPreference";
    Layout = "~/Views/Home/HomeHeader.cshtml";
}
<link href="~/Content/StyleHRP.css" rel="stylesheet" />
<h4>Company Preference</h4>
<div class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Company Name</label>
                <div class="col-sm-7">
                    <input class="form-control txtSmall" id="comName" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Company Address</label>
                <div class="col-sm-7">
                    <input class="form-control txtSmall" id="comAddress" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Standard Curcency</label>
                <div class="col-sm-7">
                    <input class="form-control txtSmall" id="stanCur" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Local Curcency</label>
                <div class="col-sm-7">
                    <input class="form-control txtSmall" id="localCur" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Report Path</label>
                <div class="col-sm-7">
                    <input class="form-control txtSmall" id="repPath" type="text">
                </div>
                <button type="button" class="col-sm-1 btn btn-primary btnSmall">...</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Meal Allowance Class A</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="comName" type="text">
                </div>
                <label class="col-sm-1 lbSmall">$</label>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Meal Allowance Class B</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="comAddress" type="text">
                </div>
                <label class="col-sm-1 lbSmall">$</label>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Meal Allowance Class C</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="stanCur" type="text">
                </div>
                <label class="col-sm-1 lbSmall">$</label>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Exchange Rate</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="localCur" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">NSSF Exchange Rate</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="repPath" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Tax Exchange Rate</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="comName" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Late Count</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="comAddress" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Work Day Round Off</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="stanCur" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Work Hour Round Off</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="localCur" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Work Day Round Up</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="repPath" type="text">
                </div>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Work Hour Round Up</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="repPath" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Never Late Bonus</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="localCur" type="text">
                </div>
                <label class="col-sm-1 lbSmall">$</label>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Meal Allowance Class A</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="localCur" type="text">
                </div>
                <label class="col-sm-1 lbSmall">$</label>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">No Absent Bonus</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="localCur" type="text">
                </div>
                <label class="col-sm-1 lbSmall">$</label>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 lbSmallRight">Union Fee</label>
                <div class="col-sm-5">
                    <input class="form-control txtSmall" id="localCur" type="text">
                </div>
                <label class="col-sm-1 lbSmall">$</label>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 control-label lbSmall">Pay Seniority</label>
                <div class="checkbox col-sm-1">
                    <label><input type="checkbox" value=""></label>
                </div>
                <button type="button" class="col-sm-1 btn btn-primary btnSmall">...</button>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 control-label lbSmall">Pay Level Refund</label>
                <div class="checkbox col-sm-1">
                    <label><input type="checkbox" value=""></label>
                </div>
                <button type="button" class="col-sm-1 btn btn-primary btnSmall">...</button>
            </div>
            <div class="row div-Sm-Magin">
                <label class="col-sm-4 control-label lbSmall">Pay Baby Meal Allowance</label>
                <div class="checkbox col-sm-1">
                    <label><input type="checkbox" value=""></label>
                </div>
                <button type="button" class="col-sm-1 btn btn-primary btnSmall">...</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 control-label">
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save (Enter)</button>
            <button type="reset" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Cancel (Esc)</button>
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh (F5)</button>
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Exit (Alt+F4)</button>
        </div>
    </div>
</div>