
@{
    ViewBag.Title = "DownloadAtt";
    Layout = "~/Views/Home/HomeHeader.cshtml";
}
<link href="~/Content/StyleHRP.css" rel="stylesheet" />
<h4>Download Attendance Record</h4>
<div class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body divPadBottom0">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label>Machine Number</label>
                                </div>
                                <div class="panel-body">
                                    <div class="row div-Sm-Magin">
                                        <div class="col-sm-12">
                                            <select class="form-control" id="empMeal">
                                                <option>Test</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row div-Sm-Magin divPadTop7">
                                        <label class="col-sm-12 text-center">Device</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 btnMarginTop30">
                            <div class="row div-Sm-Magin">
                                <label class="col-sm-5 control-label">Communicaton Type :</label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="empMeal">
                                        <option>Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row div-Sm-Magin divPadTop7">
                                <label class="col-sm-5 divRight">Total Attendance Log :</label>
                                <label class="col-sm-5">Test</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label>Machine Number</label>
                                </div>
                                <div class="panel-body">
                                    <div class="row div-Sm-Magin">
                                        <label class="col-sm-5 control-label">IP Address :</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" id="JopPosKhmer" type="text">
                                        </div>
                                    </div>
                                    <div class="row div-Sm-Magin">
                                        <label class="col-sm-5 control-label">Port Number :</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" id="JopPosKhmer" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-download"></i> DownLoad</button>
        </div>
        <div class="col-sm-10 text-right">
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-remove-sign"></i> Clear All Log in Device</button>
            <button type="button" class="btn btn-primary">Connect</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 div-Sm-Magin divMarginTop15">
            <div class="divTblHeight250">
                <table class="table table-striped table-bordered table-hover table-condensed tblSmall">
                    <thead>
                        <tr>
                            <th>Commited Date</th>
                            <th>Foul English</th>
                            <th>Foul Khmer</th>
                            <th>Action English</th>
                            <th>Action Khmer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>kaka</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
